
/*BODY */
body 
{
    background:  #235164 url('../images/blue.jpg'); /*instead of using backgroud-color/img*/ 
     /*537da5 , 235164*/
    /*backgroun-image: testing, change later*/
    animation:fadeInPage 0.8s ease-in; /*fadein effect so color->img isn't too noticeable*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*TITLES, TEXT*/
#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fffbfb;
    /*  text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black, 
        -1px  1px 0 black, 
        1px  1px 0 black;  */
  
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}

#inner-text{
    display: inline-block;
    font-size: 0.5em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #0c0e17;
}

.centerAlign{ /*using for register text title*/
    text-align: center;
    text-indent: 60px;
  
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

/*DIVs*/

/*DIV index.html*/
#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #506db7d2; /*5c81a1d2, 5462b7da*/
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #506db7f1;
}

/* BUTTONS */
.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #1697a582; /*00d5124f*/
    color: #FFFFFF;
    opacity: 50%;
}

#logoutButton{
    width: auto; /*20*/
    margin-left: 70%;
}

#registerAccountButton{
    width: 70%; /*20*/
    padding: 4%;
    margin-left: 10%;
}



select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}


/*MODALS*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/blue.jpg); /*rgba(0,0,0,5)*/
}

.modal-content {
    background-color: #506db7da; /*#b2b2b2, #274876*/
    margin: 10% auto;
    padding: 25px;
    width: 70%;
    max-width: 400px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.modal-content input {
    height: 35px;
    font-size: 18px;
}

.modal-content .buttons {
    margin-top: 10px;
}

.close { /*close X button*/
    float: right;
    font-size: 45px; 
    cursor: pointer;
    transition:all 0.3s ease;
}
.close:hover{
    color:#ffffff; /*FFFFFF*/
    transform:scale(1.1);
}
#addContactModal{
    background-color: #0c0e17;
}

/*TOP NAV (contacts page)*/
.topnav{
    display:flex;
    justify-content: space-between;
    align-items: center; /* vrtically center both elements */
    width:95%;
    margin: 20px ;
    
}

.topnav #title{
    text-align: left;
    margin:0;
    

}
.topnav #logoutButton{
    width:auto; /*override*/
    white-space: nowrap;
    margin:0;
    padding: 10px 15px;
    font-size: 20px;

}
.close { /*close X button*/
    float: right;
    font-size: 45px; 
    cursor: pointer;
    transition:all 0.3s ease;
}
.close:hover{
    color:#ffffff; /*FFFFFF*/
    transform:scale(1.1);
}


/*SEARCH*/

/*STATUS MESSAGES*/
#registerResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #cc272d; /*95060a*/
}


#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #cc272d; /*95060a*/
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #cc272d; /*95060a*/
}

/*CONTACT TABLE*/
.contact-table{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.95); /*try diff*/
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
    border-collapse: collapse;
    /*display: none; /*not shown unless searching , might edit*/
}

.contact-table thead {
    background-color: #708acb; /*change later*/
    color: white; /*change later*/
}

.contact-table th {
    padding: 15px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.contact-table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /*check*/
    transition: background-color 0.3s ease;
}

.contact-table td {
    padding: 15px;
    font-size: 16px;
    color: #0c0e17;
}

/*For mobile devices*/
@media only screen and (max-width: 767px) {
  
        /*change background img if applicable (body{})*/ 
    
}